{% extends 'mainpage/base.html' %}

{% block title %}Cart{% endblock %}

{% block maincontent %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="product-container w-full lg:w-3/4 flex flex-col">
        {% for item in cart %}
        <div class="product mb-6 flex pr-6"> 
            <a href="#" class="product-image w-1/4">
                <img class="hover:shadow-lg rounded-xl" src="{{item.product.get_thumbnail}}" alt="Random Product Image">
            </a>
            <div class="product-details w-3/4 pl-6">
                <div class="flex justify-between">
                    <a href="#" class="product-name text-xl font-semibold">{{ item.product.name }}</a>
                    <span class="product-price mb-6 pt-1 text-green-500">${{item.total_price}}</span>
                </div>
                <hr>
                <div class="product-quantity-controls mt-6 flex items-center space-x-4">
                    <a href="#" class="quantity-increase p-3 bg-gray-100 hover:bg-gray-200 rounded cursor-pointer" aria-label="Increase quantity">+</a>
                    <span class="quantity-number p-3">{{item.quantity}}</span>
                    <a href="#" class="quantity-decrease p-3 bg-gray-100 hover:bg-gray-200 rounded cursor-pointer" aria-label="Decrease quantity">-</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="summary w-full lg:w-1/4 p-6 bg-blue-100 rounded-xl mt-3">
        <h2 class="summary-title uppercase text-lg mb-5">Summary</h2>
        
        <div class="summary-total mb-6 flex justify-between">
            <span class="total-label text-xl font-semibold">Total</span>
            <span class="total-amount text-xl font-semibold">${{cart.get_total_price}}</span>
        </div>
        <a href="{%url 'checkout'%}" class="checkout-button inline-block px-8 py-4 rounded-xl text-white bg-blue-500 hover:bg-blue-700 transition ease-in-out duration-150">
            Checkout
        </a>
    </div>
</div>
{% endblock %}
