{% extends 'mainpage/base.html' %} 
{% block title %}Checkout{% endblock %}
{% block maincontent %}
<div class="max-w-7xl mx-auto py-6 px-6 xl:px-0">
    <div class="flex flex-wrap -mx-3 lg:mx-0">
        <div class="product-container flex-grow w-full lg:w-2/3 px-3">
            <h1 class="product-title text-3xl font-bold">Checkout</h1>
            <div class="w-full mt-6">
                <div class="mb-6 p-6 bg-blue-100 rounded-xl">
                    <h2 class="mb-5 text-xl font-semibold">Shipping Information</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        <div>
                            <label class="block mb-2 text-sm font-medium" for="first_name">First Name</label>
                            <input type="text" id="order_first_name" name="first_name" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user.first_name }}"> 
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium" for="order_last_name">Last Name</label>
                            <input type="text" id="order_last_name" name="order_last_name" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user.last_name }}">
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium" for="order_state_province">State Province</label>
                            <input type="text" id="order_state_province" name="order_state_province" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user_profile.state_province }}">
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium" for="order_country">Country</label>
                            <input type="text" id="order_country" name="order_country" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user_profile.country }}">
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium" for="order_zip_postal_code">Zip Code</label>
                            <input type="text" id="order_zip_postal_code" name="order_zip_postal_code" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user_profile.zip_postal_code }}"> 
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium" for="order_city">City/Place</label>
                            <input type="text" id="order_city" name="order_city" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user_profile.city }}">
                        </div>
                        <div class="md:col-span-2">
                            <label class="block mb-2 text-sm font-medium" for="order_address1">Address 1</label>
                            <input type="text" id="order_address1" name="order_address1" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user_profile.address }}">
                        </div>
                    </div>
                </div>
                <div class="mb-6 p-6 bg-blue-100 rounded-xl">
                    <h2 class="mb-5 text-xl font-semibold">Contact Information</h2>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium" for="order_email">Email</label>
                        <input type="email" id="order_email" name="order_email" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user.email }}">
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-medium" for="order_phone_number">Phone Number</label>
                        <input type="tel" id="order_phone_number" name="order_phone_number" class="w-full p-3 rounded-xl border border-gray-300" value="{{ user_profile.phone_number }}">
                    </div>
                </div>

                <div class="mb-6 p-6 bg-blue-100 rounded-xl">
                    <h2 class="mb-5 text-xl font-semibold">Payment Information</h2>
                    <!-- Add your payment information fields here -->
                </div>
            </div>
        </div>

        <div class="summary w-full lg:w-1/3 px-3">
            <div class="p-8 bg-blue-100 rounded-xl mt-3 lg:mt-0">
                <h2 class="summary-title uppercase text-lg mb-5">Summary</h2>
                <div class="summary-total mb-6 flex justify-between">
                    <span class="total-label text-xl font-semibold">Total</span>
                    <span class="total-amount text-xl font-semibold">${{ cart.get_total_price }}</span>
                </div>
                <button onclick="buy(event)" class="checkout-button inline-block px-8 py-4 rounded-xl text-white bg-blue-500 hover:bg-blue-700 transition ease-in-out duration-150">
                    Confirm Checkout
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    function validateForm(data){
        let errors = [];
        if (data.order_first_name == ''){
            errors.push('First Name is required');
        }
        if (data.order_last_name == ''){
            errors.push('Last Name is required');
        }
        if (data.order_state_province == ''){
            errors.push('State Province is required');
        }
        if (data.order_country == ''){
            errors.push('Country is required');
        }
        if (data.order_zip_postal_code == ''){
            errors.push('Zip Code is required');
        }
        if (data.order_city == ''){
            errors.push('City/Place is required');
        }
        if (data.order_address1 == ''){
            errors.push('Address 1 is required');
        }
        if (data.order_email == ''){
            errors.push('Email is required');
        }
        if (data.order_phone_number == ''){
            errors.push('Phone Number is required');
        }
        console.log(errors);
        return errors;
    }

    function buy(event){
        event.preventDefault();
        let data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'order_first_name': document.getElementById('order_first_name').value,
            'order_last_name': document.getElementById('order_last_name').value,
            'order_state_province': document.getElementById('order_state_province').value,
            'order_country': document.getElementById('order_country').value,
            'order_zip_postal_code': document.getElementById('order_zip_postal_code').value,
            'order_city': document.getElementById('order_city').value,
            'order_address1': document.getElementById('order_address1').value,
            'order_email': document.getElementById('order_email').value,
            'order_phone_number': document.getElementById('order_phone_number').value,
        };
        let errors = validateForm(data);

        if (errors.length){
            console.log(errors);
        } else{
            var stripe = Stripe('{{ pub_key }}');

            fetch('/order/start_order/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            }).then(function(response) {
                return response.json();
            }).then(function(session) {
                return stripe.redirectToCheckout({sessionId: session.session.id});
            }).then(function(result) {
                if(result.error){
                    alert(result.error.message);
                }
            }).catch(function(error) {
                console.log('error:', error);
            });
        }

        return false;
    }
</script>
{% endblock %}

