{% extends 'mainpage/base.html' %} 
{% block title %}Edit Account{% endblock %}
{% block maincontent %}

<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl font-bold text-center">Edit Account</h1>
    <form class="mb-6" method="post">
        {% csrf_token %}
        <div class="flex justify-center mb-6">
            <div class="avatar w-1/4">
                <a href="#" class="hover-shadow-lg rounded-xl">
                    <img src="https://pavis.io/M.ash" alt="Avatar" class="rounded-full" width="100" height="100">
                </a>
            </div>
        </div>
        <div class="account-info w-full">
            <div class="mb-6">
                <label for="username" class="block text-sm font-bold mb-2">username:</label>
                <input type="text" id="username" name="username" value="{{ request.user.username }}" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6">
                <label for="first_name" class="block text-sm font-bold mb-2">First Name:</label>
                <input type="text" id="first_name" name="first_name" value="{{ request.user.first_name }}" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6">
                <label for="last_name" class="block text-sm font-bold mb-2">Last Name:</label>
                <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6">
                <label for="email" class="block text-sm font-bold mb-2">Email:</label>
                <input type="email" id="email" name="email" value="{{ request.user.email }}" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6">
                <label for="phone" class="block text-sm font-bold mb-2">Phone:</label>
                <input type="tel" id="phone" name="phone" value="{{ request.user.phone }}" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-bold mb-2">Password:</label>
                <input type="password" id="password" name="password" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6">
                <label for="confirm_password" class="block text-sm font-bold mb-2">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="w-full py-2 px-3 border border-gray-300 rounded-md focus:border-green-500 focus:ring-green-500 focus:outline-none">
            </div>
            <div class="mb-6 text-right">
                <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
