{% extends 'mainpage/base.html' %} 
{% block title %}{{ product.name }}{% endblock %}
{% block maincontent %}
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="information w-full lg:w-2/5 lg:pr-6 order-2 lg:order-1">
        <h1 class="text-3xl font-bold">{{ product.name }}</h1>
        <p class="mt-2 text-green-500 text-xl">${{ product.price }}</p>
        {% if product.get_rating > 0%}
        <p class="mt-2 text-green-600">Rating: {{ product.get_rating }} / 5</p>
      {% endif %}
        {% if product.description %}
        <div class="mt-4">
            {{ product.description|safe }}
        </div>
        {% endif %}

        <a href="#" 
        class="text-green-500 hover:text-green-700 flex items-center justify-between"
        hx-get="{% url 'add_to_cart' product.id %}"
        hx-target="#menu-cart-button"
        hx-swap="outerHTML">
         <span>Add to Cart</span>
         <i class="fas fa-shopping-cart"></i>
     </a>
    </div>

    <div class="image w-full lg:w-3/5 order-1 lg:order-2 mb-6 lg:mb-0">
        <img class="rounded-xl w-full h-auto" src="{% if product.image %}{{ product.image.url }}{% else %}https://via.placeholder.com/480x480{% endif %}" alt="{{ product.name }} image" />
    </div>
</div>

<div class="w-full mt-6 px-6 xl:px-0">
    <h2 class="text-2xl font-bold mb-6">Reviews</h2>
    {% if request.user.is_authenticated %}
    <form method="POST" action="." class="mt-6 mb-6 p-6 bg-blue-100 rounded-xl">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-lg font-bold mb-2">Rating</label>
            <select name="rating" id="rating" class="w-full border border-gray-300 rounded p-2">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="content" class="block text-lg font-bold mb-2">Comment</label>
            <textarea name="content" id="comment" cols="30" rows="10" class="w-full border border-gray-300 rounded p-2 tinymce"></textarea>

        </div>
        <div>
            <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition duration-300">Submit</button>
        </div>
    </form>
    {% endif %}
    {% for review in product.review.all %}
    <div class="mt-6 mb-6 p-6 bg-blue-100 rounded-xl">
        <div>
            <h3><strong>Username: </strong>{{ review.created_by.username }}</h3>
            <p><strong>Date: </strong>{{ review.created_at|date:"Y-m-d" }}</p>
            <p><strong>Content: </strong><br>{{ review.content|safe }}</p>
            <p><strong>Rating: </strong>{{ review.rating }}</p>
        </div>
    </div>
    {% empty %}
        <p>No reviews yet.</p>
    {% endfor %}
</div>
{% endblock %}
