<div class="product mb-6 flex pr-6"> 
    <a href="#" class="product-image w-1/4">
        <img class="hover:shadow-lg rounded-xl" src="{{item.product.get_thumbnail}}" alt="Random Product Image">
    </a>
    <div class="product-details w-3/4 pl-6">
        <div class="flex justify-between">
            <a href="#" class="product-name text-xl font-semibold">{{ item.product.name }}</a>
            <span class="product-price mb-6 pt-1 text-green-500">${{item.total_price}}</span>
        </div>
        <hr>
        <div class="product-quantity-controls mt-6 flex items-center space-x-4">
            <a href="#" class="quantity-increase p-3 bg-gray-100 hover:bg-gray-200 rounded cursor-pointer" aria-label="Increase quantity">+</a>
            <span class="quantity-number p-3">{{item.quantity}}</span>
            <a href="#" class="quantity-decrease p-3 bg-gray-100 hover:bg-gray-200 rounded cursor-pointer" aria-label="Decrease quantity">-</a>
        </div>
    </div>
</div>